<%- include ('../partials/header') %>
    <%- include ('../partials/nav') %>

        <!DOCTYPE html>
        <html>

        <head>
            <title>Travel Search</title>
        </head>

        <body onload="initializeContent()">
            <form id="searchForm" action="/search" method="GET" onsubmit="return validateDateInput()">
                <select class="form-control" id="queryType" name="queryType" required
                    onchange="handleSearchTypeChange(this.value)">
                    <option value="" disabled selected>Search for Flight or Hotel</option>
                    <option value="flightSearchTwoWay">Flight Round Trip</option>
                    <option value="flightSearchOneWay">Flight One Way</option>
                    <option value="hotelSearch">Hotel</option>
                </select>

                <div id="flightFields" style="display: none;">
                    <!-- Flight-specific input fields -->
                    <label for="origin">Origin Airport Code:</label>
                    <input type="text" name="origin" placeholder="Airport Code">

                    <label for="destination">Destination Airport Code:</label>
                    <input type="text" name="destination" placeholder="Airport Code">

                    <label for="departureDate">Departure Date (YYYY-MM-DD):</label>
                    <input type="text" id="departureDate" name="departureDate" placeholder="YYYY-MM-DD">

                    <!-- Cabin Class Selection -->
                    <label for="cabinClass">Cabin Class:</label>
                    <select name="cabinClass" id="cabin_class">
                        <option value="economy" selected>Economy</option>
                        <option value="premium">Premium Economy</option>
                        <option value="business">Business</option>
                        <option value="first">First Class</option>
                    </select>
                </div>

                <div id="hotelFields" style="display: none;">
                    <!-- Hotel-specific input fields -->
                    <input type="text" name="location" placeholder="City">
                    <!-- Additional hotel fields can be added here -->
                </div>

                <button type="submit" id="submitBtn" style="display: none;">Search</button>
            </form>

            <div id="cardsContainer"></div> <!-- Adjusted ID to match your JavaScript function -->
            <div id="searchResultsContainer"></div>

        </body>

        </html>