<%- include ('../partials/header') %> 
<%- include ('../partials/nav') %>

<!DOCTYPE html>
<html>
<head>
    <title>Travel Search</title>
</head>
<body onload="initializeContent()">
    <form id="searchForm" onsubmit="handleFormSubmit(event)">
        <select class="form-control" id="searchType" name="searchType" required onchange="handleSearchTypeChange(this.value)">
            <option value="" disabled selected>Search for Flight or Hotel</option>
            <option value="flightSearchTwoWay">Flight</option>
            <option value="hotelSearch">Hotel</option>
        </select>

        <div id="flightFields" style="display: none;">
            <!-- Flight-specific input fields -->
            <input type="text" name="origin" placeholder="Origin Airport Code">
            <input type="text" name="destination" placeholder="Destination Airport Code">
            <input type="date" name="departureDate" placeholder="Departure Date">
            <input type="date" name="returnDate" placeholder="Return Date">
            <!-- Additional flight fields can be added here -->
        </div>

        <div id="hotelFields" style="display: none;">
            <!-- Hotel-specific input fields -->
            <input type="text" name="location" placeholder="City">
            <!-- Additional hotel fields can be added here -->
        </div>

        <button type="submit" id="submitBtn" style="display: none;">Search</button>
    </form>
    <div id="cardsContainer"></div> <!-- Adjusted ID to match your JavaScript function -->
    <div id="searchResultsContainer"></div>

</body>
</html>