<%- include ('../partials/header') %>

<!DOCTYPE html>
<html>
<head>
    <title>Travel Search</title>
</head>
<body>
    <h1><%= data.message %></h1>
    <ul>
        <% data.destinations.forEach(function(destination) { %>
            <li><%= destination %></li>
        <% }); %>
    </ul>
    <% if (searchResults) { %>

        <% } %>
</body>
</html>