<%- include ('../partials/header') %>

<!DOCTYPE html>
<html>
<head>
    <title>Travel Search</title>
</head>
<body>
   
    <div class="cards-container">
        <% topHotelsAndFlights.forEach(item => { %>
            <div class="card">
                <h3><%= item.appSearchCardContent.cardTitle.string %></h3>
                <p><%= item.appSearchCardContent.primaryInfo.text %></p>
                <!-- Add more details as per your design -->
            </div>
        <% }) %>
    </div>
</body>
</html>