<%- include ('../partials/header') %> <%- include ('../partials/nav') %>

<main>
    <div class="container">

        <!-- if the cart is empty -->
        <div class="row">
            <div class="card">
                <div class="card-body">
                  Your cart is currently empty! Add an item to see your travel plans.
                </div>
              </div>
        </div>

        <!-- if the cart has items, have a card for each item -->
        <!-- for each item, order the items based on the date -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                  <!-- date -->
                </div>
                <div class="card-body">
                  <h5 class="card-title"> <!-- Reservation Title / Type --> </h5>
                  <p class="card-text"><!-- Reservation Info / Description --></p>
                  <a href="#" class="btn btn-primary"> <!-- Link to More Reservation Info --> </a>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  <!-- date -->
                </div>
                <div class="card-body">
                  <h5 class="card-title"> <!-- Reservation Title / Type --> </h5>
                  <p class="card-text"><!-- Reservation Info / Description --></p>
                  <a href="#" class="btn btn-primary"> <!-- Link to More Reservation Info --> </a>
                </div>
              </div>
        </div>

    </div>
  </main>

<%- include ('../partials/footer') %>