.container .card {
  background-color: steelblue;
  width: 320px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 7px;
  flex: 1 0 auto;
  margin: auto;
  cursor: pointer;
  transition-duration: 0.4s;
}

.container button{
  background-color: whitesmoke;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flightimage{
        
  background-image: url(https://play-lh.googleusercontent.com/fLKdtQX0Prg2fPgQ_WjjRquWH7aykggKXwVEw9PFE9Ef4XukJtAz8P7CKt_N0GhTWRw=w240-h480-rw);
  background-position: right;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.hotelimage{
  background-image: url(https://www.shutterstock.com/shutterstock/videos/25304531/thumb/10.jpg?ip=x480);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}