.form-control{
    width: 80%;
    /* position: relative;
    left: 35%;
    right: auto; */
    /* transform: translateX(-50%); */

    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid black;
    padding: 9px 22px;

}

.button_search {
    background-color: steelblue;
    border-radius: 12px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 9px 22px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    /* position: relative;
    top: 14px;
    left: 14px; */
}

.button_search:hover {
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
}

.search-element {
    font-size: 18px;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
}


#searchResultsContainer .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;   
    background-color: steelblue;
    width: 320px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    transition: 0.3s;
    flex: 1 0 auto;
    margin: auto;
  }
  
  .container button{
    background-color: whitesmoke;
    border-radius: 12px;
    border: 1px solid black;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .flightimage{
          
    background-image: url(https://play-lh.googleusercontent.com/fLKdtQX0Prg2fPgQ_WjjRquWH7aykggKXwVEw9PFE9Ef4XukJtAz8P7CKt_N0GhTWRw=w240-h480-rw);
    background-position: right;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255);
  }
  
  .hotelimage{
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255);
  }
  
  body{
    background-color: teal;
}